template/teacher-sublow.json
[
    {
      "id": "005fb3c15057f302",
      "type": "comment",
      "z": "30c4fc871e6e7071",
      "name": "Subflow for Teacher X",
      "info": "",
      "x": 960,
      "y": 100,
      "wires": []
    },
    {
      "id": "710e3430d4a9e280",
      "type": "group",
      "z": "30c4fc871e6e7071",
      "style": {
        "stroke": "#999999",
        "stroke-opacity": "1",
        "fill": "none",
        "fill-opacity": "1",
        "label": true,
        "label-position": "nw",
        "color": "#a4a4a4"
      },
      "nodes": [
        "3c0f887b4fb0ba63",
        "11e61f6715fb34ac"
      ],
      "x": 354,
      "y": 79,
      "w": 452,
      "h": 302
    },
    {
      "id": "3c0f887b4fb0ba63",
      "type": "function",
      "z": "30c4fc871e6e7071",
      "g": "710e3430d4a9e280",
      "name": "Decision",
      "func": "const msgBkp = msg;\ntry {\n    //** WRITE YOUR LOGIC HERE **\n\n    // Example of logic\n    // if (msg.payload.state === true) {\n    //     msg.payload.final = 1;\n    // } else {\n    //     msg.payload.final = 0;\n    // }\n    // return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 460,
      "y": 340,
      "wires": [
        [
          "0f247dee9b086374"
        ]
      ]
    },
    {
      "id": "11e61f6715fb34ac",
      "type": "comment",
      "z": "30c4fc871e6e7071",
      "g": "710e3430d4a9e280",
      "name": "Your logic : Please write output in **msg.payload.final**",
      "info": "",
      "x": 580,
      "y": 120,
      "wires": []
    },
    {
      "id": "70e56e2b21733f79",
      "type": "group",
      "z": "30c4fc871e6e7071",
      "style": {
        "stroke": "#999999",
        "stroke-opacity": "1",
        "fill": "none",
        "fill-opacity": "1",
        "label": true,
        "label-position": "nw",
        "color": "#a4a4a4"
      },
      "nodes": [
        "0f247dee9b086374",
        "ccf8822056e292dc",
        "561b6c548502c622",
        "6c91e252aa21c287"
      ],
      "x": 354,
      "y": 439,
      "w": 372,
      "h": 202
    },
    {
      "id": "0f247dee9b086374",
      "type": "template",
      "z": "30c4fc871e6e7071",
      "g": "70e56e2b21733f79",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}",
      "output": "json",
      "x": 460,
      "y": 480,
      "wires": [
        []
      ]
    },
    {
      "id": "ccf8822056e292dc",
      "type": "comment",
      "z": "30c4fc871e6e7071",
      "g": "70e56e2b21733f79",
      "name": "Format Ouput : Please don't modify",
      "info": "If msg.payload.final is not set,\nthen a default value \"\" will be set.",
      "x": 520,
      "y": 600,
      "wires": []
    },
    {
      "id": "561b6c548502c622",
      "type": "catch",
      "z": "30c4fc871e6e7071",
      "g": "70e56e2b21733f79",
      "name": "",
      "scope": null,
      "uncaught": false,
      "x": 460,
      "y": 540,
      "wires": [
        [
          "6c91e252aa21c287"
        ]
      ]
    },
    {
      "id": "6c91e252aa21c287",
      "type": "template",
      "z": "30c4fc871e6e7071",
      "g": "70e56e2b21733f79",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"{{env.TEACHER_ID}}\": \"\"\n}",
      "output": "json",
      "x": 640,
      "y": 540,
      "wires": [
        []
      ]
    }
  ]