flows/flows.json
[{"id":"c87be7c6b459b35e","type":"tab","label":"Fitbit Data flow","disabled":false,"info":"","env":[]},{"id":"305913d90cea44d5","type":"tab","label":"Teachers Flows Manager","disabled":false,"info":"","env":[]},{"id":"6ba4e7447d177c6e","type":"tab","label":"Wemo Test Flow","disabled":true,"info":"","env":[]},{"id":"421506f464550bd2","type":"tab","label":"Old Decision Flow","disabled":true,"info":"","env":[]},{"id":"164809fc5ff45477","type":"subflow","name":"Get Fitbit Profile","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"21c35318e86fd136"}]}],"out":[{"x":860,"y":80,"wires":[{"id":"aeaff6f2d37ba0dd","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6c1f15b3214ccfa2","type":"subflow","name":"1","info":"","category":"","in":[{"x":340,"y":160,"wires":[{"id":"52cd2c59090c1721"}]}],"out":[{"x":900,"y":460,"wires":[{"id":"3817be8f598f58e8","port":0},{"id":"3df7091622639f87","port":0}]}],"env":[{"name":"TEACHER_ID","type":"str","value":"1"}],"meta":{},"color":"#DDAA99"},{"id":"1ff90e6321a03a3c","type":"subflow","name":"2","info":"","category":"","in":[{"x":340,"y":160,"wires":[{"id":"b04eb0b37d7e0128"}]}],"out":[{"x":880,"y":380,"wires":[{"id":"9b4139d31b6b3e50","port":0},{"id":"9ebe6acebd7cbda0","port":0}]}],"env":[{"name":"TEACHER_ID","type":"str","value":"2"}],"meta":{},"color":"#DDAA99"},{"id":"35b5f00ae59ad2ba","type":"group","z":"6c1f15b3214ccfa2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["52cd2c59090c1721","c9f9dcf02da780e6","06406bd1c8d20140","e104d0c62e536385"],"x":434,"y":59,"w":452,"h":302},{"id":"713d71bd788e9ec7","type":"group","z":"6c1f15b3214ccfa2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3817be8f598f58e8","08e9614773c2b767","6467a526798c4606","3df7091622639f87"],"x":434,"y":419,"w":372,"h":202},{"id":"c78d5b2d6a9f6e00","type":"group","z":"1ff90e6321a03a3c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["492afa18bc8f7824","41795b6cbffe6a90","b04eb0b37d7e0128"],"x":434,"y":59},{"id":"e1fd7e44ca5cad7d","type":"group","z":"1ff90e6321a03a3c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95e57b8790f64fec","9b4139d31b6b3e50","add8cf8c7d7b1991","9ebe6acebd7cbda0"],"x":434,"y":339},{"id":"89a65c0d8e23a65f","type":"group","z":"305913d90cea44d5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a0a05d3f9524b771","5ffbeee5247fbd5f","2df4645b50e78323"],"x":394,"y":159,"w":232,"h":222},{"id":"ea2b7e9ceba3bcf4","type":"wemo-dev","device":"M1CAB133D11054","name":"Concordia"},{"id":"21c35318e86fd136","type":"db","z":"164809fc5ff45477","name":"Get Last Fitbit Input Date","method":"get","key":"lastFitbitInputDate","keytype":"str","data":"value","datatype":"msg","file":"db.json","x":190,"y":80,"wires":[["5ae44c60f868e6ad"]]},{"id":"aeaff6f2d37ba0dd","type":"db","z":"164809fc5ff45477","name":"Get Last Fitbit Input Data","method":"get","key":"payload.key","keytype":"msg","data":"value","datatype":"msg","file":"db.json","x":670,"y":80,"wires":[[]]},{"id":"5ae44c60f868e6ad","type":"function","z":"164809fc5ff45477","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["aeaff6f2d37ba0dd"]]},{"id":"52cd2c59090c1721","type":"wemo lookup","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"","device":"ea2b7e9ceba3bcf4","label":"Concordia","x":530,"y":160,"wires":[["c9f9dcf02da780e6"]]},{"id":"c9f9dcf02da780e6","type":"change","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Wemo State Boolean Conversion","rules":[{"t":"change","p":"payload.state","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload.state","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["06406bd1c8d20140"]]},{"id":"06406bd1c8d20140","type":"function","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.payload.state === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["3817be8f598f58e8"]]},{"id":"51750f3ffe2e9f0a","type":"comment","z":"6c1f15b3214ccfa2","name":"Subflow for Teacher 1","info":"","x":1040,"y":80,"wires":[]},{"id":"3817be8f598f58e8","type":"template","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":540,"y":460,"wires":[[]]},{"id":"e104d0c62e536385","type":"comment","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":660,"y":100,"wires":[]},{"id":"08e9614773c2b767","type":"comment","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":600,"y":580,"wires":[]},{"id":"6467a526798c4606","type":"catch","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","scope":null,"uncaught":false,"x":540,"y":520,"wires":[["3df7091622639f87"]]},{"id":"3df7091622639f87","type":"template","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"\"\n}","output":"json","x":720,"y":520,"wires":[[]]},{"id":"492afa18bc8f7824","type":"function","z":"1ff90e6321a03a3c","g":"c78d5b2d6a9f6e00","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.payload.data.presence === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["9b4139d31b6b3e50"]]},{"id":"41795b6cbffe6a90","type":"comment","z":"1ff90e6321a03a3c","g":"c78d5b2d6a9f6e00","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":660,"y":100,"wires":[]},{"id":"95e57b8790f64fec","type":"comment","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":600,"y":500,"wires":[]},{"id":"b04eb0b37d7e0128","type":"subflow:164809fc5ff45477","z":"1ff90e6321a03a3c","g":"c78d5b2d6a9f6e00","name":"Get Fitbit Profile","x":540,"y":160,"wires":[["492afa18bc8f7824"]]},{"id":"5aef5866a1065395","type":"comment","z":"1ff90e6321a03a3c","name":"Subflow for Teacher 2","info":"","x":1040,"y":80,"wires":[]},{"id":"9b4139d31b6b3e50","type":"template","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":540,"y":380,"wires":[[]]},{"id":"add8cf8c7d7b1991","type":"catch","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"","scope":null,"uncaught":false,"x":540,"y":440,"wires":[["9ebe6acebd7cbda0"]]},{"id":"9ebe6acebd7cbda0","type":"template","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"{{env.TEACHER_ID}}\": \"\"\n}","output":"json","x":720,"y":440,"wires":[[]]},{"id":"c04d8b9781e004d6","type":"http in","z":"c87be7c6b459b35e","name":"[POST] Input data from fitbit watch","url":"/fitbit","method":"post","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["3acb87346ff4d10e"]]},{"id":"c9845f79e560d197","type":"db","z":"c87be7c6b459b35e","name":"Check if we have the last fitbit data in db","method":"has","key":"payload.key","keytype":"msg","data":"value","datatype":"msg","file":"db.json","x":1300,"y":340,"wires":[["350f0a4b355822aa"]]},{"id":"b63cecd3b75f765b","type":"switch","z":"c87be7c6b459b35e","name":"If there is last fitbit data in db","property":"payload.data","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":440,"wires":[["1fe3d29ccc4d9b7f"],["dda4374879c8ce7e"]]},{"id":"eb975f267cde94e5","type":"db","z":"c87be7c6b459b35e","name":"Get fitbit last data","method":"get","key":"payload.key","keytype":"msg","data":"value","datatype":"msg","file":"db.json","x":910,"y":420,"wires":[["0476adc552bb2e77"]]},{"id":"dda4374879c8ce7e","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"status\":\"\",\"location\":{\"latitude\":\"\",\"longitude\":\"\"},\"presence\":false,\"acceleration\":{\"x\":\"\",\"y\":\"\",\"z\":\"\"},\"lastSyncTime\":\"\",\"heartRate\":\"\",\"batteryLevel\":\"\",\"charge\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":480,"wires":[["0476adc552bb2e77"]]},{"id":"0476adc552bb2e77","type":"function","z":"c87be7c6b459b35e","name":"Fitbit Data Aggregation","func":"let input = msg.payload.input;\nlet data = msg.payload.data;\n\nif (input.hasOwnProperty(\"status\")) {\n    data.status = input.status;\n} else if (input.hasOwnProperty(\"location\")) {\n    data.location.latitude = input.location.latitude;\n    data.location.longitude = input.location.longitude;\n} else if (input.hasOwnProperty(\"presence\")) {\n    data.presence = input.presence;\n} else if (input.hasOwnProperty(\"acceleration\")) {\n    data.acceleration.x = input.acceleration.x;\n    data.acceleration.y = input.acceleration.y;\n    data.acceleration.z = input.acceleration.z;\n} else if (input.hasOwnProperty(\"lastSyncTime\")) {\n    data.lastSyncTime = input.lastSyncTime;\n} else if (input.hasOwnProperty(\"heartRate\")) {\n    data.heartRate = input.heartRate;\n} else if (input.hasOwnProperty(\"batteryLevel\")) {\n    data.batteryLevel = input.batteryLevel;\n} else if (input.hasOwnProperty(\"charge\")) {\n    data.charge = input.charge;\n}\n\ndata.timestamp = msg.payload.time;\nmsg.payload.data = data; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":440,"wires":[["10baa245ae461ebd"]]},{"id":"9a6fdd178b3a5ab8","type":"db","z":"c87be7c6b459b35e","name":"Push last fitbit input date","method":"set","key":"lastFitbitInputDate","keytype":"str","data":"payload.time","datatype":"msg","file":"db.json","x":970,"y":560,"wires":[["2880384ff2b336ad"]]},{"id":"c4a67a340c7b05b7","type":"db","z":"c87be7c6b459b35e","name":"Get fitbit last input date","method":"get","key":"lastFitbitInputDate","keytype":"str","data":"value","datatype":"msg","file":"db.json","x":460,"y":340,"wires":[["e9a4b93bc3922fe4"]]},{"id":"b34621dc4b69d4a6","type":"catch","z":"c87be7c6b459b35e","name":"","scope":null,"uncaught":false,"x":120,"y":680,"wires":[["1e0df8e2d9470702"]]},{"id":"1e0df8e2d9470702","type":"debug","z":"c87be7c6b459b35e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":680,"wires":[]},{"id":"10baa245ae461ebd","type":"function","z":"c87be7c6b459b35e","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":440,"wires":[["0118775c9eef40ed"]]},{"id":"0118775c9eef40ed","type":"db","z":"c87be7c6b459b35e","name":"Push data to db","method":"set","key":"payload.key","keytype":"msg","data":"payload.data","datatype":"msg","file":"db.json","x":720,"y":560,"wires":[["9a6fdd178b3a5ab8"]]},{"id":"2880384ff2b336ad","type":"template","z":"c87be7c6b459b35e","name":"Build response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"received\": \"true\"\n}","output":"json","x":1220,"y":560,"wires":[["874c7ef898d450b8","5f76368392df4382"]]},{"id":"5f76368392df4382","type":"http response","z":"c87be7c6b459b35e","name":"Response to fitbit data","statusCode":"200","headers":{},"x":1540,"y":560,"wires":[]},{"id":"3acb87346ff4d10e","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.input","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":340,"wires":[["c4a67a340c7b05b7"]]},{"id":"e9a4b93bc3922fe4","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.lastFitbitInputDate","pt":"msg","to":"payload.data","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":340,"wires":[["5219eec111e70ade"]]},{"id":"350f0a4b355822aa","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":440,"wires":[["b63cecd3b75f765b"]]},{"id":"874c7ef898d450b8","type":"debug","z":"c87be7c6b459b35e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":620,"wires":[]},{"id":"1fe3d29ccc4d9b7f","type":"function","z":"c87be7c6b459b35e","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.lastFitbitInputDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":420,"wires":[["eb975f267cde94e5"]]},{"id":"5219eec111e70ade","type":"function","z":"c87be7c6b459b35e","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.lastFitbitInputDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":340,"wires":[["c9845f79e560d197"]]},{"id":"a0a05d3f9524b771","type":"subflow:6c1f15b3214ccfa2","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teacher 1","x":480,"y":260,"wires":[["fec93a6da5f11e43"]]},{"id":"5ffbeee5247fbd5f","type":"subflow:1ff90e6321a03a3c","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teacher 2","x":480,"y":340,"wires":[["fec93a6da5f11e43"]]},{"id":"8e6d7669c09cdfa4","type":"http in","z":"305913d90cea44d5","name":"","url":"/currentStates","method":"post","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["a0a05d3f9524b771","5ffbeee5247fbd5f"]]},{"id":"95b1b3cf97b4604a","type":"comment","z":"305913d90cea44d5","name":"Teachers Flows Manager","info":"","x":190,"y":140,"wires":[]},{"id":"2df4645b50e78323","type":"comment","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teachers Subflows","info":"","x":510,"y":200,"wires":[]},{"id":"1f2a9a66bc09140f","type":"http response","z":"305913d90cea44d5","name":"currentStates Response","statusCode":"200","headers":{},"x":1070,"y":260,"wires":[]},{"id":"fec93a6da5f11e43","type":"join","z":"305913d90cea44d5","name":"Join Teachers Status","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":800,"y":260,"wires":[["8feff64e4b1b39c0","1f2a9a66bc09140f"]]},{"id":"8feff64e4b1b39c0","type":"debug","z":"305913d90cea44d5","name":"All status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":180,"wires":[]},{"id":"1c36b52c2077f67c","type":"catch","z":"305913d90cea44d5","name":"","scope":null,"uncaught":false,"x":140,"y":440,"wires":[["b25b53b3ba773013"]]},{"id":"b25b53b3ba773013","type":"debug","z":"305913d90cea44d5","name":"Decision Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":440,"wires":[]},{"id":"c6230317c80d61e9","type":"debug","z":"6ba4e7447d177c6e","name":"Wemo Current State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":360,"wires":[]},{"id":"7d9f42ed42e9491c","type":"wemo out","z":"6ba4e7447d177c6e","name":"","device":"ea2b7e9ceba3bcf4","label":"Concordia","x":650,"y":440,"wires":[]},{"id":"30cd3b745ed9fc92","type":"template","z":"6ba4e7447d177c6e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on","output":"str","x":420,"y":440,"wires":[["7d9f42ed42e9491c"]]},{"id":"347641b19726a149","type":"inject","z":"6ba4e7447d177c6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":440,"wires":[["30cd3b745ed9fc92","4f36d2b102c092cd"]]},{"id":"4f36d2b102c092cd","type":"wemo lookup","z":"6ba4e7447d177c6e","name":"","device":"ea2b7e9ceba3bcf4","label":"Concordia","x":430,"y":360,"wires":[["c6230317c80d61e9"]]},{"id":"92cab7d271d8ea7f","type":"change","z":"421506f464550bd2","name":"Wemo State Boolean Conversion","rules":[{"t":"change","p":"payload.state","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload.state","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["e80fd60eb55be605"]]},{"id":"2f1855a4d87631a0","type":"template","z":"421506f464550bd2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"wemo\": {{payload.state}},\n    \"fitbit-presence\": {{payload.data.presence}}\n}","output":"json","x":400,"y":420,"wires":[["2e5cb422354fcf62"]]},{"id":"d5a8488a87ec9af9","type":"wemo lookup","z":"421506f464550bd2","name":"","device":"ea2b7e9ceba3bcf4","label":"Concordia","x":410,"y":180,"wires":[["92cab7d271d8ea7f"]]},{"id":"e82fba4d43748ddc","type":"inject","z":"421506f464550bd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":180,"wires":[["d5a8488a87ec9af9"]]},{"id":"fe9b9cecebc87349","type":"db","z":"421506f464550bd2","name":"Push final state in db","method":"set","key":"0000001","keytype":"str","data":"payload.final","datatype":"msg","file":"db.json","x":620,"y":500,"wires":[["b1bd4cb62b13a67a"]]},{"id":"b1bd4cb62b13a67a","type":"debug","z":"421506f464550bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":500,"wires":[]},{"id":"2e5cb422354fcf62","type":"function","z":"421506f464550bd2","name":"","func":"if (msg.payload.wemo === msg.payload[\"fitbit-presence\"]) {\n    msg.payload.final = 1;\n} else {\n    msg.payload.final = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":500,"wires":[["fe9b9cecebc87349"]]},{"id":"9de211122347959d","type":"inject","z":"421506f464550bd2","name":"Shudown wemo at midnigth everyday","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":600,"wires":[["18a87939757c2114"]]},{"id":"a72ffd237ae67405","type":"wemo out","z":"421506f464550bd2","name":"","device":"ea2b7e9ceba3bcf4","label":"Concordia","x":770,"y":600,"wires":[]},{"id":"18a87939757c2114","type":"template","z":"421506f464550bd2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on","output":"str","x":560,"y":600,"wires":[["a72ffd237ae67405"]]},{"id":"e80fd60eb55be605","type":"subflow:164809fc5ff45477","z":"421506f464550bd2","name":"Get Fitbit Profile","x":420,"y":340,"wires":[["2f1855a4d87631a0"]]}]